<h4>Rating: <%= review.rating %></h4>
<% if review.body %>
  <p><%= review.body %></p>
<% end %>
<%= link_to 'Edit This Review', edit_museum_review_path(review.museum, review), controller: "review", action: "edit" %>
